<ul class="list countries-list">
  {{#each this}}
  <li class="list-item">
    <img class="list-img" src="{{flag}}" alt="flag{{name}}" ">
    <h2 class='countries-title'>{{name}}</h2>
  </li>
  {{/each}}
</ul>