.list {
  list-style: none;
}
.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 50px;
  padding-bottom: 80px;
}

.list-item {
  margin: 15px;
  flex-basis: 300px;
  text-align: center;
}

.list-img {
  width: 300px;
  height: 150px;
  cursor: pointer;
}
.countries-title {
  margin: 0;
  padding: 30px 10px;
  cursor: pointer;
  color: rgb(3, 35, 71);
}
